<header class="inner-page">
	<div class="container">
    <h1>Banzai is an On-Demand Outbound Sales Team in the Cloud</h1>
    <p>Every company wants to have high-quality sales and marketing
      interactions with customers and prospects, but the staffing and
      management required is expensive, time consuming, and distracting.
      This is especially true for lean startups and rapidly growing
      companies. It’s easy to send an email marketing campaign, so why
      is it so hard to launch a high-touch campaign?
    </p>
    <p>Banzai is Outbound Sales On-Demand - the fastest, easiest, and
      simplest way to launch high-touch marketing campaigns without
      hiring, managing, or resource planning. Banzai connects your
      company with customers, prospects, and partners so you can spend
      your time where it counts - building and selling great solutions.
    </p>
	</div>
</header>

<div class="row features-marketing-panel">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>For Marketing</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h3>Nurture Your Existing Funnel</h3>
        <p>Deliver a high-quality message to leads in your funnel,
        on a regular basis to keep your company top-of-mind, and ensure you stay aware
        of new sales opportunities.</p>
      </div>
      <div class="col-md-8">
        <h3>Generate new Prospects for Sales</h3>
        <p>Demand generation is a proven and reliable tool for generating sales prospects.
        With Banzai, you can set up and launch a demand generation campaign in minutes,
        not weeks, and get real-time results.</p>
      </div>
      <div class="col-md-8">
        <h3>A/B Test Scripts and Campaigns</h3>
        <p>Testing new scripts, market segments, sales plays, and campaigns is easy with
          Banazai. Just tweak your campaigns online and see results as they happen.</p>
      </div>
    </div>
  </div>
</div>

<div class="row features-sales-panel">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>For Sales</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h3>Stay Top-of-Mind With Prospects</h3>
        <p>Remember that guy you talked to a few months ago? The one who really wanted to buy...
          next quarter. Banzai makes it easy to keep your 'hot' leads warm through long sales
          cycles.
      </div>
      <div class="col-md-8">
        <h3>Keep your Reps Busy Closing</h3>
        <p>The most productive reps spend their time working and closing deals. Banzai keeps
          sales reps focused on the most valuable prospects and activities by freeing them from
          daily chores like cold-calling.</p>
      </div>
      <div class="col-md-8">
        <h3>Sales Appointment Setting</h3>
        <p>Banzai keeps sales reps' calendars full of meetings with prospects by booking
        appointments for you. We work with nurture lists, cold lists, and inbound leads to keep
        you busy and ensure every sales experience starts off great.</p>
      </div>
    </div>
  </div>
</div>
