<header class="inner-page">
	<div class="container">
    <h1>Banzai is an On-Demand Outbound Sales Team in the Cloud</h1>
    <p>Every company wants to have high-quality sales and marketing
      interactions with customers and prospects, but the staffing and
      management required is expensive, time consuming, and distracting.
      This is especially true for lean startups and rapidly growing
      companies. It’s easy to send an email marketing campaign, so why
      is it so hard to launch a high-touch campaign?
    </p>
    <p>Banzai is Outbound Sales On-Demand - the fastest, easiest, and
      simplest way to launch high-touch marketing campaigns without
      hiring, managing, or resource planning. Banzai connects your
      company with customers, prospects, and partners so you can spend
      your time where it counts - building and selling great solutions.
    </p>
	</div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>For Marketing</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>For Sales</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
    </div>
  </div>
</div>
