<!-- Jumbo header at the top of the page -->
<div class="jumbotron">
  <div class="container">
    <div class="row"><h1>The Outbound Sales Cloud</h1></div>
    <div class="row">
      <p class="col-md-8" style="padding:0;">Banzai is scalable, on-demand outbound sales infrastructure,
      so you can launch and manage high-tough campaigns in minutes, not weeks.</p>
    </div>
    <div class="row">
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
  </div>
</div>
<!-- End the Jumbo container -->

<!-- Start the bottom widgets -->
<div class="container front-page-mid-section">
  <div class="row">
    <div class="col-md-4">
      <h2>Flexible Pricing</h2>
      <p>
        With Banzai, you only pay for what you need. Pricing is flexible and scales to fit your business.
      </p>
      <p>
        <a href="/pricing" class="btn btn-default">View Pricing</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Flexible Pricing</h2>
      <p>
        With Banzai, you only pay for what you need. Pricing is flexible and scales to fit your business.
      </p>
      <p>
        <a href="/pricing" class="btn btn-default">View Pricing</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Flexible Pricing</h2>
      <p>
        With Banzai, you only pay for what you need. Pricing is flexible and scales to fit your business.
      </p>
      <p>
        <a href="/pricing" class="btn btn-default">View Pricing</a>
      </p>
    </div>
  </div>
</div>
<!-- End the bottom widget container -->
