<!-- Jumbo header at the top of the page -->
<header>
  <div class="jumbotron">
    <div class="container">
      <div class="row"><h1>Outbound Sales in<br/>Minutes, Not Weeks</h1></div>
      <div class="row">
        <p class="col-md-8" style="padding:0;">Banzai is scalable, on-demand outbound sales infrastructure,
        so you can launch and manage high-touch sales and marketing campaigns in minutes, not weeks.</p>
      </div>
      <div class="row">
        <p><a class="btn btn-default btn-lg" href="/features" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
</header>
<!-- End the Jumbo container -->
<!-- Start the bottom widgets -->
<div class="container">
  <div class="row front-page-mid-section">
    <div class="col-md-2 icon hidden-sm hidden-xs">
      <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
    </div>
    <div class="col-md-8">
      <h2>Only Pay for What You Use</h2>
      <p>
        With an in house team or traditional agency, you bear the cost of full time employees and management overhead. With Banzai, you only pay for what you use.
      </p>
      <a class="btn btn-default" href="/features" role="button">View Features</a>
    </div>
  </div>
  <div class="row front-page-mid-section">
    <div class="col-md-2 icon hidden-sm hidden-xs">
      <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
    </div>
    <div class="col-md-8">
      <h2>Outbound Sales in the Cloud</h2>
      <p>
        Save weeks of meetings, planning, and management. Launching a Banzai campaign is as simple and fast as launching an email marketing campaign.
      </p>
      <a class="btn btn-default" href="/features" role="button">View Features</a>
    </div>
  </div>
  <div class="row front-page-mid-section">
    <div class="col-md-2 icon hidden-sm hidden-xs">
      <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
    </div>
    <div class="col-md-8">
      <h2>Campaign Reporting</h2>
      <p>
        Performance metrics matter. Banzai includes detailed reporting for leads, call outcomes, and other campaign data, and integrates with the CRM and marketing systems you already use.
      </p>
      <a class="btn btn-default" href="/features" role="button">View Features</a>
    </div>
  </div>
</div>
<div class="row home-page-form-section">
  <div class="col-md-4 hidden-sm"></div>
  <div class="col-md-4">
    <form action='https://banzai.activehosted.com/proc.php' method='post' id='_form_14' accept-charset='utf-8' enctype='multipart/form-data' class="form-horizontal form-home" style="margin:2em 10%; max-width:80%;">
      <h2>Get Started Now</h2>
      <input type='hidden' name='f' value='14'>
      <input type='hidden' name='s' value=''>
      <input type='hidden' name='c' value='0'>
      <input type='hidden' name='m' value='0'>
      <input type='hidden' name='act' value='sub'>
      <input type='hidden' name='nlbox[]' value='1'>
      <div class="form-group">
        <label class="control-label" for="lead_name">Full Name</label>
        <input class="form-control" type='text' name='fullname' id="lead_name" />
      </div>
      <div class="form-group">
        <label class="control-label" for="lead_email">Email</label>
        <input class="form-control" type='email' name='email' id="lead_email" />
      </div>
      <div class="form-group">
        <label class="control-label" for="lead_phone">Phone</label>
        <input class="form-control" type='text' name='phone' id="lead_phone" />
      </div>
      <div class="form-group">
        <label class="control-label" for="lead_company">Company</label>
        <input class="form-control" type='text' name='org' id="lead_company" />
      </div>
      <input class="btn btn-default btn btn-default form-home" type='submit' value="Subscribe">
    </form>
  </div>
  <div class="col-md-4 hidden-sm"></div>
</div>

<!-- End the bottom widget container -->
