<!-- Jumbo header at the top of the page -->
<header>
  <div class="jumbotron">
    <div class="container">
      <div class="row"><h1>Outbound Sales in<br/>Minutes, Not Weeks</h1></div>
      <div class="row">
        <p class="col-md-8" style="padding:0;">Banzai is scalable, on-demand outbound sales infrastructure,
        so you can launch and manage high-tough sales and marketing campaigns in minutes, not weeks.</p>
      </div>
      <div class="row">
        <p><a class="btn btn-default btn-lg" href="/features" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
</header>
<!-- End the Jumbo container -->
<!-- Start the bottom widgets -->
<div class="container">
  <div class="row front-page-mid-section">
    <div class="col-md-2 icon hidden-sm hidden-xs">
      <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
    </div>
    <div class="col-md-8">
      <h2>Only Pay for What You Use</h2>
      <p>
        With an in house team or traditional agency, you bear the cost of full time employees and management overhead. With Banzai, you only pay for what you use.
      </p>
      <a class="btn btn-default" href="/features" role="button">View Features</a>
    </div>
  </div>
  <div class="row front-page-mid-section">
    <div class="col-md-2 icon hidden-sm hidden-xs">
      <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
    </div>
    <div class="col-md-8">
      <h2>Outbound Sales in the Cloud</h2>
      <p>
        Save weeks of meetings, planning, and management. Launching a Banzai campaign is as simple and fast as launching an email marketing campaign.
      </p>
      <a class="btn btn-default" href="/features" role="button">View Features</a>
    </div>
  </div>
  <div class="row front-page-mid-section">
    <div class="col-md-2 icon hidden-sm hidden-xs">
      <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
    </div>
    <div class="col-md-8">
      <h2>Campaign Reporting</h2>
      <p>
        Performance metrics matter. Banzai includes detailed reporting for leads, call outcomes, and other campaign data, and integrates with the CRM and marketing systems you already use.
      </p>
      <a class="btn btn-default" href="/features" role="button">View Features</a>
    </div>
  </div>
</div>
<div class="row home-page-form-section">
  <div class="col-md-4 hidden-sm"></div>
  <div class="col-md-4">

    <%= render '../shared/form' %>

  </div>
  <div class="col-md-4 hidden-sm"></div>
</div>

<!-- End the bottom widget container -->
