// colors

$color-1:       #537f8d; // Primary (Blue)
$color-1-dark:  #3f6174;
$color-2:       #f28A5B; // Secondary (Orange)
$color-2-dark:  #F17450;
$color-3:       #f3dfc2; // Neutral
$color-4:       #FFFFFF; // White

// fonts

$primary-font: 'Open Sans', sans-serif;


// Pricing tables

$pt-number: 3; // number of pricing tables
$pt-header-mobile-height: 80px;
$pt-margin: 0.015; // distance between tables - percentage value
$pt-features-number: 6;
$pt-feature-mobile-width: 100px;

// bouncy animation

$cd-perspective: 2000px;
$cd-animation-duration: .5s;
