

//$footer-height: 25px
//$header-height: 50px


//*
//  margin: 0

//html,
//body
//  height: 100%

//.wrapper
//  min-height: 100%
//  height: auto !important
//  height: 100%
//  margin: 0 auto
//  margin-bottom: -1 * ($footer-height + $header-height)
//  // the bottom margin is the negative value of the footer's height

//.footer,
//.push
//  height: $footer-height
//  // .push must be the same height as .footer

// Header

a.navbar-brand img{
	margin-top:-10px;
 	padding:5px;
 	height: 40px;
}

// Front Page

div.front-page-mid-section{
	text-align:center;
}

// Footer

div.footer{
	margin-top:25px;
	div.container{
		text-align: center;
	}
}

.cd-header p{
	margin-top:20px;
	line-height:20px !important;
}
