@import 'partials/variables';
@import 'partials/layout';

//$footer-height: 25px
//$header-height: 50px


//*
//  margin: 0

//html,
//body
//  height: 100%

//.wrapper
//  min-height: 100%
//  height: auto !important
//  height: 100%
//  margin: 0 auto
//  margin-bottom: -1 * ($footer-height + $header-height)
//  // the bottom margin is the negative value of the footer's height

//.footer,
//.push
//  height: $footer-height
//  // .push must be the same height as .footer

// Header

a.navbar-brand img{
	margin-top:-10px;
 	padding:5px;
 	height: 40px;
}

// Footer

div.footer{
	margin-top:25px;
	div.container{
		text-align: center;
	}
}

//.cd-header p{
//	margin-top:20px;
//	line-height:20px !important;
//	font-size:16px;
//	font-weight: 300 !important;
//}


/* --------------------------------

Primary style

-------------------------------- */

//*, *::after, *::before {
//	@include box-sizing(border-box);
//}

//html {
//	font-size: 62.5%;
//}

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font: {
		size: 1.6em;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $color-1;
	//background-color: $color-1;
}

a {
	color: $color-4;
	text-decoration: none;
}

header.inner-page {
	padding: 2em 0;
}

h1,h2,h3,h4,h5 {
	font-weight:100;
}
